.container-block{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.281);
  position:fixed;
  top:0;
}
.container-none {
  display: none;
}
.form{
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px auto;
}